@model List<CursoViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<form class="row g-3 mt-3" asp-action="Curso">
    <div class="mb-3">        
        <div class="input-group">
            <span class="input-group-text">Pesquisar curso por instrutor :</span>
            <input type="text" class="form-control" name="pesquisa">
            <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
        </div>
    </div>
</form>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var curso in Model)
            {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                        <img src="https://gifs.eco.br/wp-content/uploads/2022/06/gifs-de-among-us-0.gif" loading="lazy" class="card-img-top" alt="@curso.Título">
                    <div class="card-body">
                        <h5 class="card-title">@curso.Título</h5>
                        <p class="card-text">@curso.Descrição</p>
                        <p class="card-text"><small class="text-body-secondary">@curso.Instrutor</small></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
